@{
    ViewData["Title"] = "Home Page";
}

<br />
<div>
    <div class="float-sm-right" id="home-pic">
        <img src="/img/vegetables-155616_640.png" class="img-responsive" alt="fruits" width="540px" />
    </div>
    <h3 class="display-3">Създай спъсък с покупки</h3>
    <p class="lead flex-md-wrap">Само с няколко стъпки можеш да създадеш списък за пазаруване, или да добавиш продукти към вече съществуващ такъв.</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
        <a href="/Orders/All" class="btn btn-primary btn-lg" role="button">Започни</a>
    </p>
</div>